*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    
    /* justify-content: center; */
    /* align-items: center; */
}
.mainmarq{
    width: 100%;
    display: flex;
    background-color: #db2525;
}
.category{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 80px;
    width: 100px;
    position: relative;

}
.category p{
    text-decoration: none;
    /* display: flex; */
    /* gap: 10px; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 15px;
}
.category p:hover{
    
    color:#db2525;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown{
    display: none;
    background:rgb(245, 245, 245);
    color: white;
    text-align: center;
    border-radius: 10px;
    position:absolute;
}
a{
    font-size: 16px;
}
.category:hover>.dropdown{
    display: flex;
    flex-direction: column;
}
.options{
    padding: 20px 30px;

}
.dropdown .options:hover{
    color:#db2525;
    border-radius: 10px;
}
.options a:hover{
    color: #db2525;
}
.options a{
    text-decoration: none;
    font-weight: bold;
    
}
main{
    display: flex;
    justify-content: space-between;
    background-color: #db2525;
    height: 30px;
    align-items: center;
    font-size: 14px;

}
.marq{
    width: 21%;
    color: #ffffff;

}
.marq a:hover{
    text-decoration: underline solid;
}
.marq a{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10px;
    text-decoration: none;
    /* font-weight: bold; */
}
marquee{

    color: white;
    width: 70%;
  font-size: 11px;
    font-weight: bold;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.main{
    height: 80px;
    width: 300px;
    position: relative;
}
.main p{
    font-size: 30px;

}
.main:hover>.dropdown2{
    display: flex;
    flex-direction: column;
    background-color: black;
    /* width: 180px;
    height: 180px; */
    align-items: center;
    justify-content: center;
    text-align: center;

}
.dropdown2{
    display: none; 
    position: absolute;
    left: 15px;
    border-radius: 10px;
}

.gallery a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.gallery:hover{
    background-color: brown;
    border-radius: 10px;

}
.gallery{
    padding: 10px 20px  ;
}
section .card{


    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    justify-content: center;

}
.cardsec{
    margin: 30px;
}
.card{
    display: flex;
    justify-content: center;
}
.card img{
    border-radius: 20px;
}
section img{
    

    width: 380px;
    min-height: 400px;
}
.sliderimg img{
    width: 100%;
}
footer{
    background-color: rgba(206, 191, 191, 0.541);
    width: 100%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 23px;
}
.footp{
    font-size: 11px;
}
input{
    
    padding: 5px ;
    border-radius: 5px;
}
button{
    
    
    
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
}
.ftr{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.ftr a{
    text-decoration: none;
    color: black;
    font-size: 11px;
}

.ftr a:hover{
    text-decoration: underline solid;
}
.sociallogo img{
    width: 20px;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos p{
    font-size: 20px;
}
.logos img{
    width: 180px;
}
.logos{
    
    
    display: flex;
    justify-content: space-around;
}
.new{
    display: flex;
    gap: 10px;
}
.copyright{
    width: 100%;
    height: 200px;
    background-color: rgba(206, 191, 191, 0.541);
    
    color: black;
}

@media screen {
    
}


