*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    flex-direction: column;
}
.mainmarq{
    display: flex;
    background-color: #db2525;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
}
.marq1{
    width: 63%;
    color: white;
}
.marq{
    width: 30%;
    display: flex;
    justify-content: center;
}
.marq a{
    color: white;
    text-decoration: none;
}
.nav1{
    display: flex;
    background-color:white;
    align-items: center;
    height: 50px;
}
.nav1 .carticons{
    display: flex;
    justify-content: center;
    width: 40%;
}
.nav1 .menuicon{
    display: none;
    width: 20%;
    align-items: center;

}
.nav1 .servislogo{
    width: 60%; 
    display: flex;
    justify-content: center;
}
.menuicon img{
    width: 40px;
    height: 40px;
}

.servislogo img{
    width: 220px;
    height: 50px;
}

.carticons img{
    width: 30px;
}
.category{
    display: flex;
    height: 80px;
    position: relative;

}
.category p{
    text-decoration: none;
    font-size: 15px;
}
.category p:hover{
    
    color:#db2525;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown{
    display: none;
    background:rgb(245, 245, 245);
    color: white;
    text-align: center;
    border-radius: 10px;
    position:absolute;
    top: 20px;
}
 a{
    font-size: 15px;    
}
.category:hover>.dropdown{
    display: flex;
    flex-direction: column;
}
.options{
    padding: 20px 30px;

}
.dropdown .options:hover{
    /* background-color: yellow; */
    color:#db2525;
    border-radius: 10px;
}
.options a:hover{
    color: #db2525;
}
.options a{
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
    
}
nav{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.sliderimg img{
    width: 100%;
}
footer{
    background-color: rgba(206, 191, 191, 0.541);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
footer .sperator{
    background-color: rgba(206, 191, 191, 0.541);
    width: 100%;
    display: flex;
    justify-content: space-around;
    line-height: 23px;
}
.footp{
    font-size: 11px;
}
input{
    
    padding: 5px ;
    border-radius: 5px;
}
.new button{
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
}
.ftr{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.ftr a{
    text-decoration: none;
    color: black;
    font-size: 11px;
}

.ftr a:hover{
    text-decoration: underline solid;
}

.sociallogo img{
    width: 20px;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgba(206, 191, 191, 0.541);
    color: black;
}
.logos p{
    font-size: 20px;
}
.logos img{
    width: 180px;
}
.logos{
    display: flex;
    justify-content: space-around;
}
.new{
    display: flex;
    gap: 10px;
}
.cardsec{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.card{
    width: 32%;
}
.card img{
    width: 100%;
}
.dropdown3{
    background-color: white;
    border-radius: 10px;
}
.dropdown3 .category{
    position: relative;
    padding: 25px 50px;

}
.dropdown3 .category .dropdown{
    position: absolute;
    left: 185px;
}
@media only screen and (max-width:992px) {
   
    footer .sperator{
    display: flex;
    flex-direction: column;
   }
    .card{
        width: 48%;
    }
    nav{
        gap: 30px;
    }
}
@media only screen and (max-width:850px) {
nav{
    gap: 25px;
}
}
@media only screen and (max-width:768px) {
    .nav1 .menuicon{
        display: flex;
    }
    nav{
        display: none;
    }
    .nav1 .menuicon .dropdown3{
        display: none;
    } 
    .menuicon:hover>.dropdown3{
        display: flex;
        flex-direction: column;
        
    } 
    .menuicon{
        position: relative;
        }
        .menuicon:hover{
            background-color: aliceblue;
            height: auto;
            
        }
    .dropdown3{
        position: absolute;
        top: 40px;
    }
    .catogery{
        background-color: aliceblue;
    }
}
@media  only screen and (max-width:576px) {
    .card{
       display: flex;
       align-items: center;
        width: 90%;
    }
  
}
@media only screen and (max-width:476px) {
    .mainmarq{
        font-size: 6px;
    }
}